*.h linguist-language=C
testing/greatest.h -diff
third_party/stb_image.h -diff
third_party/stb_image_write.h -diff
third_party/flag.h -diff
third_party/portable-file-dialogs.h -diff
third_party/cJSON.h -diff
third_party/cJSON.c -diff
